# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv

# Terraform
terraform/.terraform/
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Lambda packages
terraform/lambda_packages/*.zip

# AWS
.aws/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test files
archive/video_test/*.mp4

# Temporary files
*.tmp